@font-face {
    font-family:'Futura-Condensed-Normal';
    src: url('../typo/Futura-Condensed-Normal_gdi.eot');
    src: url('../typo/Futura-Condensed-Normal_gdi.eot?#iefix') format('embedded-opentype'),
    url('../typo/Futura-Condensed-Normal_gdi.woff') format('woff'),
    url('../typo/Futura-Condensed-Normal_gdi.ttf') format('truetype'),
    url('../typo/Futura-Condensed-Normal_gdi.svg#Futura-Condensed-Normal') format('svg');
    font-weight: 5;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}
html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    cursor: url(../images/cursor.png), auto;
    color: #ffffff;
    font-family: 'Futura-Condensed-Normal', Helvetica, Arial, sans-serif ;
    height: 100%;
    overflow: hidden;
}
body.home:before {
    position: absolute;
    content: '';
    height: 108%;
    width: 105%;
    top: -4%;
    left: -2.5%;
    background: #000000 url(../images/rpgskyrimscreenshotart1.png) no-repeat center center;
    background-size: cover;
    z-index: -1;
    transition: all 1s  ease-out;
}
body.home.go-left:before {
    transform: translate(-1.5%, 0);
}
body.home.go-right:before {
    transform: translate(1.5%, 0);
}
body.home.go-bottom:before {
    transform: translate(0, 2.5%);
}
body.home.go-top:before {
    transform: translate(0, -2.5%);
}
body.home:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-container {
    height: 100%;
}
.menu-container svg,
.menu-container canvas {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#menuSelectorSvg {
    position: absolute;
    opacity: 0;
}
.hoverblureffect {
    opacity: 0;
    transition: all .1s linear;
}
.menu-container {
    height: 85%;
    position: relative;
}
.menuItems {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    text-shadow: 2px 2px 0 #000000;
}
.menuItems li {
    display: inline-block;
    position: absolute;
    opacity: .7;
}

.menuItems .select{
    opacity: 1;
}
.footer {
    height: 15%;
    background-color: rgba(0,0,0,0.6);
    border-top: 3px solid rgba(255,255,255,.7);
    box-shadow: 0 -5px 0 0 rgba(0,0,0,.6);
    text-align: center;
    font-size: 1.2vw;
    text-shadow: 2px 2px 0 #000000;
    padding: .5% 3% 0;
    display: flex;
    float: left;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.footer .level {
    display: block;
    width: 100%;
}
.label {
    text-shadow: 2px 2px 0 #000000;
    vertical-align: super;
    color: rgba(255,255,255,.7);
}
.label__content{
    font-size: 2.2vw;
    color: #ffffff;
    vertical-align: bottom;
}
.localisation-date {
    font-size: 1.9vw;
    opacity: 0.9;
    white-space: nowrap;
}
.lateral-pan {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    width: 12.5%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    border-left: 3px solid rgba(255,255,255,.7);
    border-right: 3px solid rgba(255,255,255,.7);
    box-shadow: 5px 0 0 0 rgba(0,0,0,.6), -5px 0 0 0 rgba(0,0,0,.6);
    color: #858A89;
    opacity: 0;
    visibility: hidden;
    transition: background-color .3s ease-out, box-shadow .3s ease-out;
}
.lateral-pan--left {
    left: 40px;
}
.lateral-pan--right {
    right: 40px;
    text-align: right;
}
.sub-lateral-pan {
    position: absolute;
    width: 15.625%;
}
.sub-lateral-pan--left {
    left: calc(12% + 40px + 40px);
}
.sub-lateral-pan--right {
    right: calc(12% + 40px + 40px);
}
.lateral-pan_white-mask {
    background-color: rgba(100,100,100,0.6);
    box-shadow: 5px 0 0 0 rgba(100,100,100,.6), -5px 0 0 0 rgba(100,100,100,.6);
}
.pan--list {
    padding: 0 15px;
    width: 100%;
}
.pan--listItem {
    padding: 10px 0;
    transition: all .2s ease-out;
    font-size: 1.35vw;
    line-height: 1.37vw;
    text-transform: uppercase;
}
.sub-lateral-pan .pan--listItem {
    text-transform: none;
}
.pan--listItem:hover {
    color: #ffffff;
}
.pan--listItemMain_active {
    padding: 30px 0;
    color: #ffffff;
    font-size: 2vw;
}
.pan--listItemSub_active {
    padding: 30px 0;
    color: #ffffff;
}

.itemModal {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    height: 85%;
    width: 33%;
    color: #858A89;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.itemModal--left {
    left: calc(15.625% + 12.5% + 40px + 40px);
    right: 0;
}
.itemModal--right {
    right: calc(15.625% + 12.5% + 40px + 40px);
    left: 0;
}
.itemModal--imgBox {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.itemModal--bg {
    position: absolute;
    left: 0;
    top: 0;
}
.itemModal--infos {
    position: relative;
    padding: 7.1% 0 11% 0;
    width: 100%;
}
.itemModal--txt {
    position: relative;
}
.itemModal--title {
    color: #ffffff;
    width: 69%;
    margin: 0 auto 4%;
    border-bottom: 2px solid #858A89;
    font-size: 2vw;
    line-height: 2.2vw;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.itemModal--adj {
    font-size: 1vw;
    text-transform: uppercase;
    margin: 0 10px;
}
.itemModal--adjVal {
    color: #ffffff;
    font-size: 1.8vw;
    vertical-align: middle;
}
.itemModal--desc {
    font-size: 1.1vw;
}

/************MAP*****************/
.map {
    background-color: #000000;
}
.map .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.gm-style {
    cursor: url(../images/cursor.png), auto;
    color: #ffffff;
    font-family: 'Futura-Condensed-Normal', Helvetica, Arial, sans-serif ;
}
.marker-label, .marker-label--active, .marker-label--inactive {
    text-shadow: 3px 2px 0 #000000;
    letter-spacing: 5px;
    font-size: 0;
    text-transform: uppercase;
    opacity: 0;
}
.footer--buttons {
    display: flex;
    float: left;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.footer--buttonLabel {
    font-size: 30px;
    color: #ffffff;
}
.footer--buttonKey {
    background-color: rgba(0,0,0,.6);
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.7);
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,.6);
    color: rgba(255,255,255,.7);
    min-width: 35px;
    min-height: 35px;
    display: inline-block;
    line-height: 35px;
    padding: 0 7px;
    margin-right: 7px;
    font-size: 25px;
}
.footer--buttonKey_leftMouse {
    border-top-left-radius: 20px;
    padding-right: 2px;
}

/****************SKILLS**********************/

    /**header**/
#bgSkillheader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}
.background-fullsize {
    background: url('../images/nebula_medium_low_quality_repeatable.jpg') repeat-x 0 0 / cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.content {
    height: 100%;
}
.page--skills .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.page--skills .header {
    position: absolute;
    top: 0;
    left: 0; right: 0;
    margin: auto;
    width: 75%;
    font-size: 1.2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}
.skills {
    overflow: hidden;
    height: 100%;
}
.skill {
    width: 16vw;
    height: 4vw;
    perspective: 10000px;
    transform-style: preserve-3d;
    float: left;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto;
    /*transform: translateX(100%) translateY(21vw);*/
}
.perks {
    width: 100%;
    height: 1000%;
    /*background-color: rgba(0, 255, 0, 0.2);*/
    perspective: 5e+7px;
    margin: auto;
    left: 0px;
    right: 0px;
    top: -900%;
    position: absolute;
    transform: rotateX(60deg) translate3d(0px, 0%, 0px);
    transform-origin: center bottom 0px;
    transform-style: preserve-3d;
    transition: all 1s ease-out 0s;
}
.perks.y0 {
    transform: rotateX(60deg) translate3d(0, 50%, 0);
}
/*.perk {*/
    /*position: absolute;*/
    /*width: 16vw;*/
    /*margin-left: -8vw;*/
    /*transform-origin: bottom;*/
    /*animation: front-back 2s infinite alternate linear;*/
    /*transform: rotateX(-60deg);*/
    /*text-align: center;*/
    /*font-size: 3vw;*/
/*}*/
.perk {
    position: absolute;
    width: 16vw;
    margin-left: -8vw;
    transform-origin: center bottom 0px;
    transform: rotateX(-60deg) translateY(1vw);
    text-align: center;
    font-size: 3vw;
}

.perk--img {
    width: 2vw;
    text-align: center;
    height: 2vw;
    border-radius: 50%;
    background-color: yellow;
    margin: auto;
}
.perk--title {
    position: absolute;
    top: -3.5vw;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
    opacity: 0;
}
.perk--desc {
    position: absolute;
    top: 3vw;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
    visibility: hidden;
    opacity: 0;
}
.perkToPerk {
    position: absolute;
    width: 3px;
    border-radius: 100%;
    background: linear-gradient(to left, rgba(10,142,255,1) 0%, rgba(255,255,255,1) 50%, rgba(10,142,255,1) 100%);
    transform-origin: center bottom 0px;
    text-align: center;
    font-size: 3vw;
    /* transform: translateZ(1vw); */
    box-shadow: 0px 0px 11px 3px rgba(10, 142, 255, .5);
}