@font-face {
    font-family:'Futura-Condensed-Normal';
    src: url('../typo/Futura-Condensed-Normal_gdi.eot');
    src: url('../typo/Futura-Condensed-Normal_gdi.eot?#iefix') format('embedded-opentype'),
    url('../typo/Futura-Condensed-Normal_gdi.woff') format('woff'),
    url('../typo/Futura-Condensed-Normal_gdi.ttf') format('truetype'),
    url('../typo/Futura-Condensed-Normal_gdi.svg#Futura-Condensed-Normal') format('svg');
    font-weight: 5;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2666;
}
html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    cursor: url(../images/cursor.png), auto;
    color: #ffffff;
    font-family: 'Futura-Condensed-Normal', Helvetica, Arial, sans-serif ;
    height: 100%;
    overflow: hidden;
}
body.home:before {
    position: absolute;
    content: '';
    height: 108%;
    width: 105%;
    top: -4%;
    left: -2.5%;
    background: #000000 url(../images/rpgskyrimscreenshotart1.png) no-repeat center center;
    background-size: cover;
    z-index: -1;
    transition: all 1s  ease-out;
}
body.home.go-left:before {
    transform: translate(-1.5%, 0);
}
body.home.go-right:before {
    transform: translate(1.5%, 0);
}
body.home.go-bottom:before {
    transform: translate(0, 2.5%);
}
body.home.go-top:before {
    transform: translate(0, -2.5%);
}
body.home:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-container {
    height: 100%;
}
.menu-container svg,
.menu-container canvas {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#menuSelectorSvg {
    position: absolute;
    opacity: 0;
}
.hoverblureffect {
    opacity: 0;
    transition: all .1s linear;
}
.menu-container {
    height: 90%;
    position: relative;
}
.menuItems {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    text-shadow: 2px 2px 0 #000000;
}
.menuItems li {
    display: inline-block;
    position: absolute;
    opacity: .7;
}

.menuItems .select{
    opacity: 1;
}
.footer {
    height: 10%;
    background-color: rgba(0,0,0,0.6);
    border-top: 3px solid rgba(255,255,255,.7);
    box-shadow: 0 -5px 0 0 rgba(0,0,0,.6);
    text-align: center;
    font-size: 1.2vw;
    text-shadow: 2px 2px 0 #000000;
    padding: .5% 3% 0;
    display: flex;
    float: left;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.footer .level {
    display: block;
    width: 100%;
}
.key-value__label {
    text-shadow: 2px 2px 0 #000000;
    color: rgba(255,255,255,.7);
}
.key-value__content{
    font-size: 1.9vw;
    color: #ffffff;
}
.key-value__label--middle {
    vertical-align: middle;
}
.key-value svg {
    vertical-align: middle;
}
.key-value__content--middle {
    vertical-align: middle;
}
.localisation-date {
    font-size: 1.9vw;
    opacity: 0.9;
    white-space: nowrap;
}
.lateral-pan {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    width: 12.5%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    border-left: 3px solid rgba(255,255,255,.7);
    border-right: 3px solid rgba(255,255,255,.7);
    box-shadow: 5px 0 0 0 rgba(0,0,0,.6), -5px 0 0 0 rgba(0,0,0,.6);
    color: #858A89;
    opacity: 0;
    visibility: hidden;
    transition: background-color .3s ease-out, box-shadow .3s ease-out;
}
.lateral-pan--left {
    left: 40px;
}
.lateral-pan--right {
    right: 40px;
    text-align: right;
}
.sub-lateral-pan {
    position: absolute;
    width: 15.625%;
}
.sub-lateral-pan--left {
    left: calc(12% + 40px + 40px);
}
.sub-lateral-pan--right {
    right: calc(12% + 40px + 40px);
}
.lateral-pan_white-mask {
    background-color: rgba(100,100,100,0.6);
    box-shadow: 5px 0 0 0 rgba(100,100,100,.6), -5px 0 0 0 rgba(100,100,100,.6);
}
.pan--list {
    padding: 0 15px;
    width: 100%;
}
.pan--listItem {
    padding: 10px 0;
    transition: all .2s ease-out;
    font-size: 1.35vw;
    line-height: 1.37vw;
    text-transform: uppercase;
}
.sub-lateral-pan .pan--listItem {
    text-transform: none;
}
.pan--listItem:hover {
    color: #ffffff;
}
.pan--listItemMain_active {
    padding: 30px 0;
    color: #ffffff;
    font-size: 2vw;
}
.pan--listItemSub_active {
    padding: 30px 0;
    color: #ffffff;
}

.itemModal {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    height: 85%;
    width: 33%;
    color: #858A89;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.itemModal__hide {
    display: none;
}
.itemModal--left {
    left: calc(15.625% + 12.5% + 40px + 40px);
    right: 0;
}
.itemModal--right {
    right: calc(15.625% + 12.5% + 40px + 40px);
    left: 0;
}
.itemModal--imgBox {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.itemModal--bg {
    position: absolute;
    left: 0;
    top: 0;
}
.itemModal--infos {
    position: relative;
    padding: 7.1% 0 11% 0;
    width: 100%;
}
.itemModal--txt {
    position: relative;
}
.itemModal--title {
    color: #ffffff;
    width: 69%;
    margin: 0 auto 4%;
    border-bottom: 2px solid #858A89;
    font-size: 2vw;
    line-height: 2.2vw;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.itemModal--adj {
    font-size: 1vw;
    text-transform: uppercase;
    margin: 0 10px;
}
.itemModal--adjVal {
    color: #ffffff;
    font-size: 1.8vw;
    vertical-align: middle;
}
.itemModal--desc {
    font-size: 1.1vw;
    padding: 0 50px;
}
.itemModal--links {
    padding: 10px 50px;
}

.itemModal--link:first-child:before {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/link.svg') no-repeat 0 / 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.itemModal--link + .itemModal--link{
    margin-left: 10px;
}
.itemModal--link {
    color: #858A89;
    transition: all .3s;
}
.itemModal--link:visited {
    color: #656a69;
}
.itemModal--link:hover {
    color: #ffffff;
}
/************MAP*****************/
.map {
    background-color: #000000;
}
.map .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.gm-style {
    cursor: url(../images/cursor.png), auto;
    color: #ffffff;
    font-family: 'Futura-Condensed-Normal', Helvetica, Arial, sans-serif ;
}
.marker-label, .marker-label--active, .marker-label--inactive {
    text-shadow: 3px 2px 0 #000000;
    letter-spacing: 5px;
    font-size: 0;
    text-transform: uppercase;
    opacity: 0;
}
.footer--buttons {
    display: flex;
    float: left;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.footer--buttonLabel {
    font-size: 30px;
    color: #ffffff;
}
.footer--buttonKey {
    background-color: rgba(0,0,0,.6);
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.7);
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,.6);
    color: rgba(255,255,255,.7);
    min-width: 35px;
    min-height: 35px;
    display: inline-block;
    line-height: 35px;
    padding: 0 7px;
    margin-right: 7px;
    font-size: 25px;
    text-decoration: none;
}
.footer--buttonKey_leftMouse {
    border-top-left-radius: 20px;
    padding-right: 2px;
}

/****************SKILLS**********************/

    /**header**/
#bgSkillheader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}
.background-fullsize {
    background: url('../images/nebula_medium_low_quality_repeatable.jpg') repeat-x 0 0 / cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.content {
    height: 100%;
}
.page--skills .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.page--skills .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 66%;
    font-size: 1.2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 176px;
    z-index: 1;
}
.skills {
    overflow: hidden;
    height: 100%;
    text-shadow: 3px 3px 2px #000000;
}
.skill {
    width: 16vw;
    height: 6vw;
    perspective: 10000px;
    transform-style: preserve-3d;
    float: left;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto;
    text-align: center;
    /*transform: translateX(100%) translateY(21vw);*/
}
.perks {
    width: 100%;
    height: 1000%;
    /*background-color: rgba(0, 255, 0, 0.2);*/
    perspective: 5e+7px;
    margin: auto;
    left: 0;
    right: 0;
    top: -938%;
    position: absolute;
    transform: rotateX(50deg) translate3d(0px, 0%, 0px);
    transform-origin: center bottom 0px;
    transform-style: preserve-3d;
    transition: all 1s ease-out 0s;
}
.perks.y0 {
    transform: rotateX(50deg) translate3d(0, 50%, 0);
}
.perk {
    position: absolute;
    width: 20vw;
    margin-left: -10vw;
    transform-origin: center bottom 0px;
    transform: rotateX(-50deg) translateY(2vw);
    text-align: center;
    font-size: 3vw;
}
.perks--above {
    /*background-image: url(http://localhost:63342/skyrim/tesv_skyrim_site/final/images/perkAbove/javascript.png);*/
    width: 100%;
    height: 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 3%;
    transform: rotateX(-50deg);
    opacity: 0;
    visibility: hidden;
}
.perk--img {
    width: 4vw;
    text-align: center;
    height: 4vw;
    border-radius: 50%;
    background: url('../images/star.png') no-repeat 0 / cover;
    margin: auto;
}
.perk--img.lock {
    background-image: url('../images/low_star.png');
    background-size: 40%;
    background-position: center;
}
.perk--title {
    position: absolute;
    top: 3vw;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
    opacity: 0;
}
.perk--desc {
    position: absolute;
    top: 14vw;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8vw;
}
.perkToPerk {
    position: absolute;
    width: 1px;
    /*width: 3px;*/
    border-radius: 100%;
    transform-origin: center bottom 0px;
}
.perkToPerk:not(.lock) li {
    -webkit-filter: brightness(1.4) blur(0px);
    filter: brightness(1.4)  blur(0px);
}
.perkToPerk:not(.lock) li:nth-child(1){
    height: 100%;
    /*width: 1px;*/
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 -10px 0px 1px #ffffff, 0 -10px 1px 1px rgba(0,173,255,1), 0 -10px 3px 3px rgba(32, 82, 193, 0.8);
}
/*.perkToPerk:not(.lock) li:nth-child(1),*/
.perkToPerk:not(.lock) li:nth-child(2){
    height: 33%;
    width: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: -4px;
    opacity: 0;
    visibility: hidden;
}
/*.perkToPerk:not(.lock) li:nth-child(2),*/
.perkToPerk:not(.lock) li:nth-child(3){
    /*display: none;*/
    height: 33%;
    width: 3px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 -10px 0px 1px #ffffff, 0 -10px 1px 1px rgba(0,173,255,1);
    opacity: 0;
    visibility: hidden;
}
/*.perkToPerk:not(.lock) li:nth-child(1),*/
/*.perkToPerk:not(.lock) li:nth-child(2){*/
    /*box-shadow: 0 -10px 0px 1px #ffffff, 0 -10px 1px 3px rgba(0,173,255,1), 0 -10px 3px 4px rgba(32, 82, 193, 0.8);*/
/*}*/
.perkToPerk.lock li {
    display: none;
}
.perkToPerk.lock li:nth-child(1){
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 -10px 3px 1px rgba(155, 178, 206, .2);
}
.skill--separator {
    width: 19vw;
    height: 4px;
    background: #88898A;
    margin: 0 auto;
    border: 1px solid #000000;
    margin-top: 7vw;
    opacity: 0;
    visibility: hidden;
}
.skill--title {
    font-size: 1.5vw;
    text-transform: uppercase;
    display: block;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}
.skill--name {
    color: #959796;
}
.skill--progress {
    width: 60%;
    margin: 0 auto;
}
.skill:first-child .perks--above {
    opacity: 1;
    visibility: visible;
}
.skill:first-child .skill--title {
    font-size: 2vw;
}
.skill:first-child .skill--progress {
    width: 80%;
}
.buttons {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    width: 61%;
}
.home .buttons {
    top: 1%;
    justify-content: center;
    width: 100%;
}
.map .buttons {
    top: 1%;
    width: 99%;
}
.buttons div {
    cursor: inherit;
}
.buttons a {
    cursor: inherit;
}
#dezoomConst {
    visibility: hidden;
    opacity: 0;
}
.popup-container {
    width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
    border: 3px solid rgba(255,255,255,.7);
    padding: 30px;
    font-size: 30px;
    text-align: center;
}
.popup-container select {
    margin: 40px;
    border: 2px solid rgba(255,255,255,.7);
    border-radius: 10px;
    height: 40px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    font-size: 20px;
    font-family: 'Futura-Condensed-Normal', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}